@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
.footerslist
{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

a
{
   text-decoration: none;
   font-size: 24px;
   color: ;
   font-family: 'Bangers', cursive;
}
/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: green;
  }
.footerslist ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;

}

h2
{
   font-size: 24px;
   color: ;
   font-family: 'Bangers', cursive;
   margin-top:0;
   font-weight: normal;
}
footer{
    background-color:lightgray;
    padding-bottom: 30px;
}
footer p{
    text-align: center;
    font-size: 16px;
}
.footerslist ul li {
    display: block;
    width: 300px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}
/*media tablet*/
@media screen and (min-width: 768px)
{
   .footerslist {
       max-width: 720px;
   }

    a {
        font-size: 34px;
    }
    h2{
    font-size: 34px;
    }
}
/*media desktop*/
@media screen and (min-width: 1200px)
{
   .footerslist {
       max-width: 1140px;
    }
       .footerslist ul{
           display: flex;
           flex-direction: row;
           justify-content: space-around;
    }
    a {
        font-size: 34px;
    }
    h2{
    font-size: 34px;
    }
}