@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
main
{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}
h1
{
   font-size: 34px;
   color: rgb(65, 182, 75);
   font-family: 'Bangers', cursive;
}
h2
{
   font-size: 24px;
   color: rgb(48, 117, 53);
   font-family: 'Bangers', cursive;
}
p
{
   font-size: 16px;
   color: ;
   font-family: ;
}
a
{
   text-decoration: none;
}
@media (min-width: 768px)
{
   main {
       max-width: 720px;
   }  
}
@media (min-width: 1200px)
{
   main {
       max-width: 1140px;
   }
   h1 img {
       width: 720px;
   }
    .missions13 {
        display: flex;
        width: 50%;
    }
    .mission2 {
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        justify-content: flex-end;
    }
}    
/* DISPLAY */
.block
{
   display: block;
}
/* FLEX */
.flex
{
   display: flex;
}
.flex-column
{
   flex-direction: column;
}
.space-around
{
   justify-content: space-around;
}
.space-between
{
   justify-content: space-between;
}
.flex-h-center, .flex-center
{
   justify-content: center;
}
.flex-v-center, .flex-center
{
   align-items: center;
}
.flex-v-start
{
   flex-direction: start;
}
.flex-v-end
{
   flex-direction: end;
}
.flex-row-reverse
{
   flex-direction: row-reverse
}
/* WIDTH */
.width-100
{
   width: 100%;
}
.width-50
{
   width: 50%;
}
/* MARGIN */
.margin-bot-40
{
   margin-bottom: 40px;
}
/* TEXT ALGIN */
.text-justify
{
   text-align: justify;
}