@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap');
main
{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}
h1
{
   font-size: 24px;
   color: #2C6012;
   font-family: 'Bangers', cursive;
   margin-bottom: 20px;
   text-align: center;
}
.missions {
   margin-bottom: 40px;
}
.missions13 {
   margin-bottom: 40px;
}
.mission2 {
   margin-bottom: 40px;
}
p
{
   font-size: 16px;
   margin-top: 20px;
   font-family: 'Roboto', sans-serif;
}
a
{
   text-decoration: none;
}
@media (min-width: 768px)
{
   main {
       max-width: 720px;
   }
   h1 {
      margin-bottom: 40px;
      font-size: 48px;
   }
   .centre {
      display: flex;
      justify-content: center;
   }
   .missions {
      display: flex;
      flex-direction: column;
      margin-bottom: 80px;
      align-items: center;
   }
   .missions div {
      width: 720px;
   }
   .gauche {
      display: flex;
      justify-content: flex-start;
   }
   .missions13 {
        display: flex;
        justify-content: space-around;
        margin-bottom: 80px;
   }
   .droite {
      display: flex;
      justify-content: flex-end;
   }
   .mission2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-bottom: 80px;
   }
   .missions13 a {
       width: 300px;
   }
   .mission2 a {
       width: 300px;
   }
}   
@media (min-width: 1200px)
{
   main {
       max-width: 1140px;
   }
   h1 {
      margin-bottom: 40px;
      font-size: 48px;
   }
   .centre {
      display: flex;
      justify-content: center;
   }
   .missions {
      display: flex;
      flex-direction: column;
      margin-bottom: 80px;
      align-items: center;
   }
   .missions div {
      width: 1140px;
   }
   .gauche {
      display: flex;
      justify-content: flex-start;
   }
   .missions13 {
        display: flex;
        justify-content: space-around;
        margin-bottom: 80px;
   }
   .droite {
      display: flex;
      justify-content: flex-end;
   }
   .mission2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        margin-bottom: 80px;
   }
   .missions13 a {
       width: 513px;
   }
   .mission2 a {
       width: 513px;
   }
}    