@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto&display=swap');
main
{
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}
h1
{
   font-size: 24px;
   color: #2C6012;
   font-family: 'Bangers', cursive;
   margin-bottom: 20px;
}
.missions {
   margin-bottom: 40px;
}
.missions13 {
   margin-bottom: 40px;
}
.mission2 {
   margin-bottom: 40px;
}
p
{
   font-size: 16px;
   margin-top: 20px;
   color: ;
   font-family: 'Roboto', sans-serif;
}
a
{
   text-decoration: none;
}
@media (min-width: 768px)
{
   main {
       max-width: 720px;
   }  
}
@media (min-width: 1200px)
{
   main {
       max-width: 1140px;
   }
   h1 {
      margin-bottom: 40px;
   }
   .missions {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 80px;
   }
   .missions div {
      width: 720px;
   }
   .droite {
      display: flex;
      justify-content: flex-end;
   }
   .missions13 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 80px;
    }
    .mission2 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 80px;
    }
    .missions13 a {
       width: 513px;
    }
    .mission2 a {
       width: 513px;
    }
}    
/* DISPLAY */
.block
{
   display: block;
}
/* FLEX */
.flex
{
   display: flex;
}
.flex-column
{
   flex-direction: column;
}
.space-around
{
   justify-content: space-around;
}
.space-between
{
   justify-content: space-between;
}
.flex-h-center, .flex-center
{
   justify-content: center;
}
.flex-v-center, .flex-center
{
   align-items: center;
}
.flex-v-start
{
   flex-direction: start;
}
.flex-v-end
{
   flex-direction: end;
}
.flex-row-reverse
{
   flex-direction: row-reverse
}
/* WIDTH */
.width-100
{
   width: 100%;
}
.width-50
{
   width: 50%;
}
/* MARGIN */
.margin-bot-40
{
   margin-bottom: 40px;
}
/* TEXT ALGIN */
.text-justify
{
   text-align: justify;
}