@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, h2, ul, p
{
    margin: 0;
    padding: 0;
}
main 
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
h1
{
    font-size: 24px;
    color: #2C6012;
    font-family: 'Bangers', cursive;
    text-align: center;
}
.missions, .missions13, .mission2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2
{
    font-size: 24px;
    color: black;
    font-family: 'Bangers', cursive;
}
p
{
    font-size: 16px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}
a
{
    text-decoration: none;
}
hr
{
    border-color: black;
}
.link
{
    color: #05B31C; 
}
.texte {
    display: none;
}

/* DISPLAY */

.block
{
    display: block;
}

/* FLEX */

.flex
{
    display: flex;
}
.flex-column
{
    flex-direction: column;
}
.space-around
{
    justify-content: space-around;
}
.space-between
{
    justify-content: space-between;
}
.flex-h-center, .flex-center
{
    justify-content: center;
}
.flex-v-center, .flex-center
{
    align-items: center;
}
.flex-start
{
    justify-content: flex-start;
}
.flex-end
{
    justify-content: flex-end;
}
.flex-row-reverse
{
    flex-direction: row-reverse
}

/* WIDTH */

.width-100
{
    width: 100%;
}
.width-90
{
    width: 90%;
}
.width-80
{
    width: 80%;
}
.width-50
{
    width: 50%;
}
.width-25
{
    width: 25%;
}

/* HEIGHT */

.height-auto
{
    height: auto;
}

/* MARGIN */

.margin-bot-40
{
    margin-bottom: 40px;
}
.margin-bot-20
{
    margin-bottom: 20px;
}
.margin-top-20
{
    margin-top: 20px;
}

/* TEXT ALGIN */

.text-justify
{
    text-align: justify;
}

/* Media Queries */
@media (min-width: 768px)
{
    main {
        width: 720px;
    }
    .nav-container-md 
    {
        width:720px;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 24px;
    }
    .margin-bot-md-40 {
        margin-bottom: 40px;
    }
    .margin-bot-md-80 {
        margin-bottom: 80px;
    }
    .flex-md
    {
        display: flex;
    }
    .flex-start-md
    {
        justify-content: flex-start;
    }
    .flex-end-md
    {
        justify-content: flex-end;
    }
    .space-between-md
    {
        justify-content: space-between;
    }
    .flex-row-reverse-md
    {
        flex-direction: row-reverse
    }
    .width-50-md
    {
        width: 48%;
    }
    .texte {
        display: none;
    }
}

@media (min-width: 1200px)
{
    main
    {
        width: 1140px;
    }
    .nav-container-lg 
    {
        width:1140px;
    }
    .container {
        position: relative;
    }
    .img {
        opacity: 1;
        display: block;
        transition: .5s ease;
        backface-visibility: hidden;
    }
    .overlay {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    .container:hover .img {
        opacity: 0.3;
    }
    .container:hover .overlay {
        opacity: 1;
    }
    .texte {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: black;
        background-color: #EAECA8;
        display: contents;
    }

}

